@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.my-navbar {
    /*temporary disabled*/
    /*border-bottom: 10px solid rgba(255,140,0,.6);*/
}

.search-button:hover {
    color: white !important;
    transition-duration: 0.2s, 0.2s, 0.2s !important;
    background-color: #0dbba7 !important;
    font-size: 15px !important;
    line-height: 100% !important;
    padding: 4px !important;
    border: white solid 3px !important;
    margin-right: 2px !important;
    margin-top: 12px !important;
}

.search-button {
    color: white !important;
    transition-duration: 0.2s, 0.2s, 0.2s !important;
    background-color: #0d8577 !important;
    font-size: 15px !important;
    line-height: 100% !important;
    padding: 4px !important;
    border: #E8E8E8 solid 3px !important;
    margin-right: 2px !important;
    margin-top: 12px !important;
}

.button a {
    color: white !important;
    transition-duration: 0.2s, 0.2s, 0.2s !important;
}

.button {
    background-color: #0d8577 !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
    font-size: 15px !important;
    line-height: 100%;
    padding: 4px !important;
    border: #E8E8E8 solid 3px !important;
    transition-duration: 0.2s, 0.2s, 0.2s !important;
}

.button:hover {
    background-color: #0dbba7 !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
    font-size: 15px !important;
    line-height: 100%;
    color: white !important;
    padding: 4px !important;
    border: white solid 3px !important;
    transition-duration: 0.2s, 0.2s, 0.2s !important;
}

.save {
    color: white !important;
    background-color: #0d8577 !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
    font-size: 15px !important;
    line-height: 100%;
    padding: 4px !important;
    border: #E8E8E8 solid 3px !important;
    transition-duration: 0.2s, 0.2s, 0.2s !important;
    margin-left: 25px !important;
}

.form-group {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 5px !important;
    line-height: normal !important;
}

.form-control {
    width: auto !important;
}

.input-control {
    width: auto !important;
}

.textarea-control {
    width: 30% !important;
}

thead,
table,
tbody,
tfoot,
tr,
td,
th {
    border-color: black !important;
    font-family: 'Open Sans', sans-serif !important;
}

.subpages {
    width: 10%;
    border-radius: 60px;
    margin-left: 25%;
    margin-top: 50px;
}

#subpage:hover {
    background: none !important;
}

#logo {
    border-radius: 23px;
    margin-left: 2%;
    width: 55px;
}

.home {
    width: 3%;
}

.logo {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 30px !important;
    color: #0d8577 !important;
    background: #f8f9fa !important;
    transition-duration: 0.2s, 0.2s, 0.2s !important;
}

.logo:hover {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 30px !important;
    color: #0dbba7 !important;
    background: #f8f9fa !important;
    transition-duration: 0.2s, 0.2s, 0.2s !important;
}

a {
    font-family: 'Open Sans', sans-serif !important;
    color: #7a7a7a !important;
    font-size: 15px !important;
    text-decoration-line: none !important;
    font-weight: 900 !important;
}

.active {
    color: #0dbba7 !important;
    font-weight: 9000 !important;
}

.active-lang {
    background: none !important;
}

a:hover {
    font-family: 'Open Sans', sans-serif !important;
    background: #0dbba7 !important;
    font-size: 15px !important;
    text-decoration-line: none !important;
    color: white !important;
    font-weight: 900 !important;
}

.a-register {
    color: black !important;
    font-size: 15px !important;
    text-decoration-line: underline !important;
}

.a-register:hover {
    color: white !important;
    font-size: 15px !important;
}

label {
    margin-top: 1%;
    font-size: 2em;
    display: table-cell;
    text-align: right;
    margin-left: 50px !important;
}

.label-form {
    font-size: 15px !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #7a7a7a !important;
    font-weight: 900 !important;
    margin-left: 25px !important;
}

input {
    display: table-cell;
    margin-left: 25px !important;
}

h1 {
    font-size: 25px !important;
    font-weight: 900 !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #7a7a7a !important;
}

h4 {
    font-size: 15px !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #7a7a7a !important;
    margin-left: 20px;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif !important;
    color: #7a7a7a !important;
    margin: 50px 20px 15px !important;
    font-weight: 900 !important;
}

html {
    font-family: 'Nerko One', cursive;
    color: white;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

body {
    background-color: #E8E8E8 !important;
}

#image {
    height: 150px;
    border-radius: 50%;
}

.frame {
    border-radius: 50%;
    width: 225px;
    border: 3px solid #ccc;
    background: #eee;
    padding: 10px 10px;
}

#welcome {
    text-align: center;
    margin-top: 5%;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif !important;
    color: #7a7a7a !important;
}

#flags {
    text-align: right;
}

.flag {
    width: 3em;
}

.table {
    border-color: black;
    font-size: 15px;
    font-weight: normal;
    width: 65% !important;
    color: #7a7a7a !important;
}

.table-profile {
    width: 35% !important;
    margin: 20px;
}

.table-messages {
    width: 80% !important;
    margin: 20px !important;
}

th, td {
    border-color: black;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-block: 1px solid #ddd;
    text-align: center !important;
}

td {
    font-weight: 500 !important;
}

th {
    font-weight: 700 !important;
}

#back {
    margin-left: 25px !important;
    padding-bottom: 10px !important;
    background-color: #E8E8E8 !important;
}