{% extends 'base.html.twig' %}

{% block title %}{{ "homepage.title" | trans }}{% endblock %}

{% block body %}
            {% include('flags.html.twig') %}
    <div id="welcome">
        {{ "homepage.text" | trans }}
    </div>

    <div id="subpages">
    <a href="{{ path('app_filament_index')}}" target="_blank"> <img src="{{ asset('filament.jpg') }}" alt="filament" class="subpages"> </a>
    </div>

{% endblock %}